#head-bar {

  height: 56px;
  background-color: #333;
  margin: 0px;
  padding: 0px;
}

.title {

  position: absolute;
  display: inline-block;
  color: white;
  text-decoration-color: white;
  font-size: 30px;
  left: 900px;
  top: 20px;
  margin: 0 auto;
}


/*/////Hamburger menu stuff//////*/

.hamburger-menu {

  position: relative;
  display: inline-block;

}

.dropdownbtn:hover, .dropdownbtn:focus {
    background-color: #2980B9;
}

.dropdownbtn {

  background-color: #333;
    color: white;
    padding: 11px;
    font-size: 25px;
    border: none;
    cursor: pointer;

}

.dropdown-list {

    display: none;
    position: relative;
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-list a{

    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}
.hamburger-menu a:hover {
  background-color: #ddd
}

.show {
  display:block;
}

/*////////////////////Profile dropdown menu stuff//////////////////////////////*/

.account-menu {

  position: relative;
  display: inline-block;
  font-size: 25px;
  color: white;
  float: right;

}

.profilebtn:hover, .profilebtn:focus {
    background-color: #2980B9;
}

.profilebtn {

  position: relative;
  background-color: #333;
    color: white;
    font-size: 20px;
    padding: 13px;
    padding-right: 10px;
    border: none;
    cursor: pointer;

}

.dropdown-list-profile {

    display: none;
    position: relative;
    background-color: #f1f1f1;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 16px;
}

.dropdown-list-profile a{

    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}
.account-menu a:hover {
  background-color: #ddd
}

.account-menu img {

  position: relative;
  width: 25px;
  height: 25px;
  right: 5px;
  top: 5px;

}

.showProfile {
  display:block;
}

/*Closet page formatting*/

#closet {

  position: relative;
}

.drawer {

  position: relative;
  text-align: center;
  margin-top: 70px;
  background: gray;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 50px;

}

a{

  text-decoration: none;
  color: black;

}

.drawer#tops:hover {

  background-image: url("images/tops.jpg");
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.drawer#bottoms:hover {

  background-image: url("images/bottoms.jpg");
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.drawer#dresses:hover {

  background-image: url("images/dresses.png");
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.drawer#business:hover {

  background-image: url("images/business.jpg");
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.drawer#swim:hover {

  background-image: url("images/swim.jpg");
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#search {

  position: relative;
  top: 40px;
  left: 20px;

}

#myInput {

  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 20px;

}