/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #add8e8; 
	border-color: lightgrey;
}

.navbar-toggle:hover {
	background-color: blue;
}

.header{
	margin-left: 20px;
	padding-bottom:20px;
	float:left;
	clear:left;
}

.outfit-container{
	float:left;
	clear:left;
	width: 120%;
}

.outfit-container img{
	float:left;
	clear:left;
	width: 100%;
}

.change-outfit{
	position:relative;
	padding-left: 100px;
	float:right;
	width:75%;
	height: 398px;
}

.wear-button{
	margin-left: 50px;
}
button {
	color: white;
	padding: 14px 20px;
	margin-left: 20px;
	border: none;
	cursor: pointer;
	width: 15%;
	background-color: #2471a3;
	float:left;
	clear:left;
	margin-top:45px;
}

/* Add a hover effect for buttons */
button:hover {
	opacity: 0.8;
}


.scrollmenu {
	height: 398px;
	overflow-y: auto;
	white-space: nowrap;
}

.suggestion {
	display: flex;
    justify-content: center;
    align-items: center;
	float:left;
	width: 175px;
	border: solid 3px transparent;
}

.suggestion img{
	height: 50%;
	width: 100%;
}

.suggestion:hover {
	cursor: pointer;
	border: solid 3px;
	border-color: #add8e8;
}

.suggestion.selected{
	border: solid 3px;
	border-color: green;
}

.change-outfit{
	float:left;
}

.preview{
	width,height:auto;
	float:left;
	margin-left: 20px;
}

.carousel-inner img {
	width: 100%; /* Set width to 100% */
	margin: auto;
	min-height:200px;
}