    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #add8e8; 
      border-color: lightgrey;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
    }

    /* Hide the carousel text when the screen is less than 600 pixels wide */
    @media (max-width: 600px) {
      .carousel-caption {
        display: none; 
      }
    }

    .navbar-toggle:hover {
      background-color: blue;
    }

    div.scrollmenu {
      background-color: white;
      overflow: auto;
      white-space: nowrap;
      margin: 10px;
    }

    div.scrollmenu a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px;
      text-decoration: none;
    }

    div.scrollmenu img {
      display: inline-block;
      color: white;
      padding: 14px;
    }

    div.scrollmenu img:hover {
      background-color: #add8e8;
    }