    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #add8e8; 
      border-color: lightgrey;
    }

    #today_suggestions{
      margin-left: 20px;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
    
    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
    }

    .navbar-toggle:hover {
      background-color: blue;
    }

    .scroll-wrapper {
      position: relative;
      margin: 1em auto;
      overflow-x: hidden;
      overflow-y: hidden;
    }

    div.scrollmenu {
      background-color: white;
      overflow: auto;
      white-space: nowrap;
      margin: 10px;
    }

    div.scrollmenu a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px;
      text-decoration: none;
    }

    div.scrollmenu div {
      display: inline-block;
      color: black;
      font-weight: bold;
      padding: 14px;
    }

    div.scrollmenu img {
      display: inline-block;
      color: white;
      padding: 14px;
    }

    div.scrollmenu img:hover {
      background-color: #add8e8;
    }

    .paddles {
    }
    .paddle {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 3em;
    }
    .left-paddle {
      left: 0;
    }
    .right-paddle {
      right: 0;
    }
    .hidden {
      display: none;
    }

    /*log in form*/
    /* Bordered form */
    form {
      border: 3px solid #f1f1f1;
    }

    /* Full-width inputs */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    .login-label {
      display: inline-block;
      max-width: 100%;
      margin-bottom: 5px;
      font-weight: 700;
    }

    /* Set a style for login button */
    #login {
      background-color: #2471a3;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
    }

    /* Add a hover effect for buttons */
    button:hover {
      opacity: 0.8;
    }


    .wrapper {
      padding: 16px;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }


    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
      span.psw {
        float: right;
        padding-top: 16px;
      }

      /* Change styles for span and cancel button on extra small screens */
      @media screen and (max-width: 300px) {
        span.psw {
          display: block;
          float: none;
        }
        .cancelbtn {
          width: 100%;
        }
      }