/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #add8e8; 
  border-color: lightgrey;
}

#today_suggestions{
  margin-left: 20px;
}

.navbar-toggle:hover {
  background-color: blue;
}

.scrollmenu {

  overflow: auto;
  white-space: nowrap;
}

.suggestion {

  display: inline-block;
  overflow: auto;
  border: solid 3px transparent;
}

.suggestion:hover {

  cursor: pointer;
  border: solid 3px;
  border-color: #add8e8;

}

.suggestion.selected{

  border: solid 3px;
  border-color: green;

}

form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.login-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 700;
}

/* Set a style for login button */
#login {
  background-color: #2471a3;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.wrapper {
  padding: 16px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    float: right;
    padding-top: 16px;
  }

  /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
 span.psw {
   display: block;
   float: none;
  }
 .cancelbtn {
   width: 100%;
  }
}