/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color: #add8e8; 
      border-color: lightgrey;
    }
 
.navbar-toggle:hover {
    background-color: blue;
  }



/*Closet page formatting*/

#tags {

  position: relative;
  top: 50px;
  text-align: center;
  color: #91bbff;
  font-size: 15px;
  font-weight: bold;
}

#filter {

  position: relative;
  display: inline;
  right: 5px;


}

.tag {

  position: relative;
  display: inline;
  height: 60px;
  width: 120px;
  margin-right: 40px;
  color: black;
  font-size: 15px;
  border: none;
  background-color: #add8e8;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-weight: bold;
}

.tag:hover {

  opacity: 1.0;
  filter: alpha(opacity=100);
  transition: 0.2s;
}

.tag.active, .tag:active {

  opacity: 1.0;
  filter: alpha(opacity=100);
  background-color: #add8e8;

}