/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 100px;
  border-radius: 0;
  background-color: #add8e8; 
  border-color: lightgrey;
  font-weight: bold;
}

/*Luke*/
#bar{

  position: relative;
  border-bottom: 3px solid black;
  margin-bottom: 5px;
  top: 30px;
}

#select_all{
  display: inline-block;
  color: #333;
  margin-left: 20px;
  border-style: solid;
  border-radius: 10px;
  border-color: #ddd;
  height: 45px;
  width: 100px;
  text-align: center;
  font-size: 15px;
  background-color: #f5f5f5;  
  position: relative;
  bottom: 5px;
}

#select_all:hover{

  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#deselect_all{

  display: inline-block;
  color: #333;
  margin-left: 20px;
  border-style: solid;
  border-radius: 10px;
  border-color: #ddd;
  height: 45px;
  width: 100px;
  font-size: 15px;
  background-color: #f5f5f5; 
  position: relative;
  bottom: 5px;
}

#deselect_all:hover{

  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#delete{
  display: inline-block;
  color: #333;
  margin-left: 20px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 10px;
  height: 45px;
  width: 80px;
  text-align: center;
  font-size: 15px;
  background-color: #f5f5f5;
  position: relative;
  bottom: 5px;
}

#delete:hover{

  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

/*Tags*/
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #add8e8; 
  border-color: lightgrey;
}

.navbar-toggle:hover {
  background-color: blue;
}



/*Closet page formatting*/

.tags {

  position: relative;
  text-align: center;
  color: #91bbff;
  font-size: 15px;
  font-weight: bold;
}


.tag {

  position: relative;
  display: inline;
  height: 60px;
  width: 194px;
  right: 17px;
  margin-top: 5px;
  color: black;
  font-size: 15px;
  border: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
  font-weight: bold;
  background-image: url("images/emptybox.png");
  background-repeat: no-repeat;
  background-position: 20px 13px;
  background-size: 30px;
}

.tag:hover {

  opacity: 1.0;
  filter: alpha(opacity=100);
  transition: 0.2s;
  cursor: pointer;
  background-color: #add8e8;
}

.tag.active, .tag:active {

  opacity: 1.0;
  filter: alpha(opacity=100);
  background-color: #add8e8;
  background-image: url("images/checked.png");
  background-repeat: no-repeat;
  background-position: 20px 13px;
  background-size: 30px;

}

#clothes{
  position: relative;
  display: block;
  float: right
  top: 300px;
  left: 10px;
  margin-left: 15em;
}

#clothes img {

  height: 200px;
  width: 200px;
}

.article {
  position: relative;
  top: 50px;
  display: inline-block;
  margin: 3px;
  padding: 5px;
  border: solid 3px lightgray;
  
}

.article.active, .article:active {

  border: solid 3px;
  border-color: #555759;
}

.article.deleted, .article:deleted {

  display: none;

}

.article:hover {

  cursor: pointer;
  opacity: 0.75;
  filter: alpha(opacity=75);

}

#accordion {

  position: relative;
  display: inline-block;
  float: left;
  width: 200px;
  height: 1500px;
  top: 135px;
  border-right: solid 3px;
  padding-right: 3px;
}

#filter {

  position: relative;
  top: 135px;
  font-size: 20px;
  left: 3px;
  font-weight: bold;
  width: 197px;
  border-right: solid 3px;
  padding-top: 8px;

}

#clear {

  position: relative;
  display: inline-block;
  font-size: 15px;
  top: 112px;
  right: 65px;
  font-color: gray;
  text-decoration: underline;
}

#clear:hover {

  cursor: pointer;
}

.panel-heading {

  cursor: pointer;
}

/*Color filter dots*/
.dot{

  position: absolute;
  z-index: 1;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

#whitedot{

  background-color: white;
  left: 125px;
  top: 21px;
}

#greydot{

  background-color: grey;
  left: 125px;
  top: 87px;
}

#blackdot{

  background-color: black;
  left: 125px;
  top: 152px;
}

#reddot{

  background-color: red;
  left: 125px;
  top: 217px;
}

#orangedot{

  background-color: orange;
  left: 125px;
  top: 282px;
}

#yellowdot{

  background-color: yellow;
  left: 125px;
  top: 347px;
}

#greendot{

  background-color: green;
  left: 125px;
  top: 412px;
}

#bluedot{

  background-color: blue;
  left: 125px;
  top: 478px;
}

#purpledot{

  background-color: purple;
  left: 125px;
  top: 542px;
}